.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.distance__heading{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    line-height: 26px;
}

.btn{
    border-radius: 5px;
}
.form{
    text-align: center;
    margin: 0 auto;
}

.list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  
    width: 100%;
}

.item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 180px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

